@model IEnumerable<CRUD_USING_EF.Models.Employee>

@{
    ViewData["Title"] = "Employees";
}

<h2>Employees</h2>
<pre>
    <b> Call Controller : </b>
      private EmployeeDBEntities db = new EmployeeDBEntities();
        // GET: Employee
        public ActionResult Index()
        {   //Query to get dropdown list
            ViewBag.DepartmentId = new SelectList(db.Departments, "Id", "Name");
            //Get all employees 
            var employees = db.Employees.Include(e => e.Department);
            return View(employees.ToList());
        }
</pre>
<p>
    <div>@Html.ActionLink("Create", "/Create") </div>
    <div class="form-group">
     
        <div class="col-md-10">
            @Html.DropDownList("DepartmentId",null, "Select Department", htmlAttributes: new { @class = "form-control" , onchange = "document.location.href = '/Employees/Departments?id=' + this.options[this.selectedIndex].value;" } )

        </div>
    </div>
    <script type="text/javascript">
        function OnSelectedIndexChanged() {
            @Html.ActionLink("Details", "/Details")
        }
    </script>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.EmployeeId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Salary)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DepartmentId)
                </th>
                <th>
                    Edit/Details/Delete
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EmployeeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Salary)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DepartmentId)
                    </td>
                    <td>
                        <div><li>@Html.ActionLink("Edit", "/Edit", new { id = item.EmployeeId }, null) </li></div>
                        <div><li>@Html.ActionLink("Details", "/Details", new { id = item.EmployeeId }, null) </li></div>
                        <div><li>@Html.ActionLink("Delete", "/Delete", new { id = item.EmployeeId }, null) </li></div>
                    </td>
                </tr>
            }
        </tbody>
    </table>

