@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET pattern models</h1>
    <p class="lead">ASP.NET has support some patterns for user  application and 
    it depends on design patterns accrording to user software ebnvironments or solution.</p>
  
</div>

<div class="row">

    <h2>Pattern 1.</h2>
    <p>
        @Html.ActionLink("ASP.NET MVC design pattern - EntityFramework", "Index", "Departments")
    </p>
    <p>
        @Html.ActionLink("ASP.NET MVC design pattern - EntityFramework, Business object using stored procedure", "/Index", "BusinessObject")
    </p>
    <p>
        @Html.ActionLink("ASP.NET MVC design pattern - EntityFramework, Business object using stored procedure with Form GET/POST for insert, Form Binding", "/CreateForm", "BusinessObject")
    </p>
    <p>
        @Html.ActionLink("ASP.NET MVC design pattern - EntityFramework, Business object using stored procedure with GET/POST for insert, UpdateModel/TryUpdateModel Databinding and No Parameter", "/Create", "BusinessObject")
    </p>
    <p>
        @Html.ActionLink("ASP.NET MVC design pattern - EntityFramework, Business object using stored procedure with GET/POST for insert, Parameter", "/CreateParam", "BusinessObject")
    </p>
    <p>
        @Html.ActionLink("ASP.NET MVC design pattern - EntityFramework, Business object using stored procedure with GET/POST for Update, Parameter", "/Index", "BusinessObject")
    </p>

</div>